@charset "UTF-8";



:root {
  
}


* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  outline: none;
}

body {
  background-image: url(Imagens/espaco.jpg);
  background-repeat: no-repeat;
  background-size: cover;
}
