@charset "UTF-8";

/* Fontes */
@import url('https://fonts.googleapis.com/css2?family=Archivo+Black&family=Bebas+Neue&display=swap');

:root {

  /* Cores */

  --bg-color: #081b29;
  --second-bg-color: #112e42;
  --text-color:  #ededed;
  --main-color: #00abf0;

  /* Fontes */
  --fonte1: "Bebas Neue", sans-serif;
  --fonte2: "Archivo Black", sans-serif;
  --fonte3: Arial, Helvetica, sans-serif;

}

/* Config global */

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  outline: none;
}

body {
  background-color: var(--bg-color);
  width: 100vw;
  height: 100vh;
}

/* Config geral */

.login_geral {
 display: flex;
 flex-wrap: wrap;
 justify-content: space-around;
 align-items: center;
 text-align: center;
 padding-top: 3%; 
}

/* Config do lado esquerdo */

.tela_left {
  color: var(--main-color);
  font-family: var(--fonte2);
  text-align: justify;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.tela_left > h1 {
 font-size: 44px;
}

.tela_left img {
  width: 90%;
  filter: drop-shadow(1px 1px 2px var(--main-color));
}


/* Config do lado Direito */


.tela_right {
  background-color: var(--second-bg-color);
  border-radius: 30px;
  box-shadow: 1px 2px 20px var(--second-bg-color);
  display: flex;
  flex-direction: column;
  justify-content: center;
  padding: 3em;
  width: 40vw;
  
}

.tela_login {
  font-family: var(--fonte2);
  display: flex;
  flex-direction: column;
  gap: 15px;
}

.tela_login > h2 {
   color: var(--main-color) ;
   font-size: 32px;
   text-shadow: 1px 1px 2px black;
}

.textfield {
  margin: auto;
  color: var(--text-color);
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  gap: 10px;
}

.textfield > label {
  font-size: 20px;
}


.textfield > input {
  color: aliceblue;
  background-color: var(--bg-color);
  border: 2px solid var(--bg-color);
  border-radius: 10px;
  width: 35vw;
  height: 3.5vw;
  padding: 1.2em;
  font-size: 17px;
  cursor: text;
  caret-color:white;
}

input::placeholder {
  color: var(--text-color);
}

/* Config do Alerta de Lembrar e Esqueceu a Senha */

.login_alert {
  color: var(--text-color);
  display: flex;
  justify-content: space-between;
}

 .login_alert > a {
  font-family: var(--fonte3);
  font-size: 12px;
  font-weight: 500;
  color: var(--text-color) ;
  text-decoration: none;
  transition: .2s;
  padding-top: 10px;
 }

 .login_alert > a:hover {
  color: var(--main-color);
 }

 .alert {
  display: flex;
  justify-content: center;
  align-items: center;
  cursor: pointer;
  flex-direction: row-reverse;
 }

 .alert .alert-text {
  padding-left: 1em;
  font-family: var(--fonte3);
  font-size: 12px;
 }

 .alert .alert-wrapper {
  display: inline-block;
  width: 60px; 
  height: 34px;
  position: relative;
 }

 .alert .alert-wrapper .button-alert {
  position: absolute;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  display: flex;
  justify-content: space-between;
  align-items: center;
  border-radius: 40px;
  background-color: var(--main-color);
 }


 .alert .alert-wrapper input {
  opacity: 0;
  width: 0;
  height: 0;
 }

 .alert .alert-wrapper .button-alert::before {
  content: "";
  width: 26px;
  height: 26px;
  position: absolute;
  left: 4px;
  bottom: 4px;
  border-radius: 50%;
  transition: .4s all ease;
  background-color: var(--text-color);
 }

 .alert .alert-wrapper input:checked + .button-alert {
  background-color: green;
 }

 .alert .alert-wrapper input:checked + .button-alert::before {
  transform: translateX(26px);
 }

.btn_login {
  color: var(black);
  background-color: var(--main-color);
  border: 2px solid var(--main-color);
  box-shadow: 0.5px 1px 2px var(--main-color);
  border-radius: 12px;
  font-family: var(--fonte2);
  font-size: 18px;
  letter-spacing: 3px;
  height: 10vh;
  padding: 1em;
  margin: 15px 0;
  transition: 0.6s;
}

.btn_login:hover {
  background-color: transparent;
  color: var(--text-color);
}

.btn_login:active {
  background-color: #00acf096;
}

/* Config Botão Login */

.sign_up {
  font-family: var(--fonte3);
  font-weight: 600;
  font-size: 18px;
  color: var(--text-color);
  padding-top: 2em;
}

.sign_up > a {
   color: var(--main-color);
  text-decoration: none;
  transition: .3s;
}

.sign_up > a:hover {
  color: #00acf0ad;
}




/* Responsividade para Celulares */

@media (max-width: 768px) {

  * {
    overflow: hidden;
  }


  .login_geral {
    flex-direction: column-reverse;
  }

  .tela_left {
    padding: 22px;
    width: 100vw;
  }
  
  .tela_left > h1 {
    text-align: center;
    font-size: 22px;
  }
  
  .tela_left img {
    width: 70%;
  }


  .tela_right {
    padding: 2em;
    width: 80%;
   
  }
  
  .tela_login {
    gap: 7px;
    transform: translate(0, -25px);
  }
  
  .tela_login > h2 {
    font-size: 25px;
  }
  
  
  .textfield > input {
    width: 65vw;
    max-width: 100%;
    padding: 1.7em;
    font-size: 12px;
  }

   .login_alert > a {
    text-align: end;
    font-family: var(--fonte3);
    font-size: 10px;
    padding-top: 0px;
   }

   .alert .alert-text {
    padding-left: 1em;
    font-family: var(--fonte3);
    font-size: 10px;
    transform: translate(0, -1px);
   }
  
   .alert .alert-wrapper {
    width: 33px; 
    height: 18px;
    left: 5px;
   }
  
   .alert .alert-wrapper .button-alert::before {
    width: 13px;
    height: 15.5px;
    left: 2px;
    bottom: 2px;
    border-radius: 50%;
   }
  
   .alert .alert-wrapper input:checked + .button-alert::before {
    transform: translateX(18px);
   }
  

   .btn_login {
    font-size: 12px;
    width: 30vh;;
    max-width: 100%;
    height: 10%;
    max-height: 100%;
    transform: translate(0, -12px);
    margin: 0px auto;
    transition: 0.6s;
  }
  
  .sign_up {
    font-size: 12px;
    padding-top: 0.3em;
  }
  
  
}


/* Responsividade para Tablets */



@media (min-width: 768.5px) and (max-width: 1380px) {
* {
    overflow: hidden;
  }

  body {
    display: flex;
  }


  .login_geral {
    flex-wrap: nowrap;
  }

  .tela_left {
    padding: 22px;
    width: 50%;
  }
  
  .tela_left > h1 {
    text-align: center;
    font-size: 32px;
  }
  
  .tela_left img {
    width: 100%;
  }


  .tela_right {
    padding: 2em;
    width: 40%;
   
  }
  
  .tela_login {
    gap: 7px;
    transform: translate(0, -25px);
  }
  
  .tela_login > h2 {
    font-size: 25px;
  }
  
  
  .textfield > input {
    width: 65vw;
    max-width: 100%;
    padding: 1.7em;
    font-size: 12px;
  }

   .login_alert > a {
    text-align: end;
    font-family: var(--fonte3);
    font-size: 10px;
    padding-top: 0px;
   }

   .alert .alert-text {
    padding-left: 1em;
    font-family: var(--fonte3);
    font-size: 10px;
    transform: translate(0, -1px);
   }
  
   .alert .alert-wrapper {
    width: 33px; 
    height: 18px;
    left: 5px;
   }
  
  
   .alert .alert-wrapper .button-alert::before {
    width: 13px;
    height: 15.5px;
    left: 2px;
    bottom: 2px;
    border-radius: 50%;
   }
  
   .alert .alert-wrapper input:checked + .button-alert::before {
    transform: translateX(15px);
   }
  

   .btn_login {
    font-size: 12px;
    width: 30vh;;
    max-width: 100%;
    height: 10%;
    max-height: 100%;
    transform: translate(0, -12px);
    margin: 0px auto;
    transition: 0.6s;
  }
  
  .sign_up {
    font-size: 12px;
    padding-top: 0.3em;
  }

}

@media (min-width: 300px) and (max-width: 350px) {
  * {
    overflow: scroll;
  }
}

